{
  "parser": "babel-eslint",
"plugins": [
      "react",
      "import"
    ],
  "extends": ["airbnb",
      "plugin:react/recommended",
      "plugin:import/react",
      "plugin:import/recommended"
],
  "rules": {
    "comma-dangle": 0
  },
    "settings": {
      "import/resolver": {
        "node": {
          "extensions": [
            ".js",
            ".jsx"
          ]
        }
      }
    }
}
